setup/archive-files
setup/archive-files-internal
setup/archive-files-internal-test
sw/apps/
sw/java/
sw/apt-mirror-min-*
fs/*
db/tgi-misc-annotation/
db/tgi-cancer-annotation/
var/tmp/
var/lock/
var/log/command_line_usage/
.vagrant
